<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <canvas id="canvas" width="150" height="150" style="border: 1px solid #eee"></canvas>
    <script>
      function draw() {
        var canvas = document.getElementById('canvas')
        if (canvas.getContext) {
          var ctx = canvas.getContext('2d')
          // cxt.fillStyle = '#eee'
          // cxt.fillRect(25,25,100,100)
          // cxt.clearRect(45,45,60,60)
          // cxt.strokeRect(50,50,50,50)
          ctx.beginPath()
          ctx.arc(75, 75, 50, 0, Math.PI * 2, true); // 绘制
          ctx.moveTo(110, 75);
          ctx.arc(75, 75, 35, 0, Math.PI, false);   // 口 (顺时针)
          ctx.moveTo(65, 65);
          ctx.arc(60, 65, 5, 0, Math.PI * 2, true);  // 左眼
          ctx.moveTo(95, 65);
          ctx.arc(90, 65, 5, 0, Math.PI * 2, true);  // 右眼
          ctx.stroke()
          // ctx.fill()
          var rectangle = new Path2D();
          rectangle.rect(10, 10, 50, 50);

          var circle = new Path2D();
          circle.moveTo(125, 35);
          circle.arc(100, 35, 25, 0, 2 * Math.PI);

          ctx.stroke(rectangle);
          ctx.fill(circle);
        }
      }
      draw()
    </script>
</body>
</html>