html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1110px;
}
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
.el-table {
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination {
    margin-top: 15px;
}
a{text-decoration: none;color:#fff;}
 a:hover, a:visited, a:link, a:active {
    color:#fff;
}
